# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python virtualenv
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Azure Storage Emulator
__azurite_db*__.json
__blobstorage__
__queuestorage__

# Environment variables
.env
